In [2]:
from sklearn import neighbors
from sklearn.model_selection import train_test_split


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('AppsandOffers_2022_SchoolLevel.csv')

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_15104\2451884122.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AppsandOffers_2022_SchoolLevel.csv')

In [6]:
df.describe()

,time_period,old_la_code,school_laestab_as_used,number_preferences_la,total_number_places_offered,number_preferred_offers,number_1st_preference_offers,number_2nd_preference_offers,number_3rd_preference_offers,times_put_as_any_preferred_school,times_put_as_1st_preference,times_put_as_2nd_preference,times_put_as_3rd_preference,proportion_1stprefs_v_1stprefoffers,proportion_1stprefs_v_totaloffers,all_applications_from_another_LA,offers_to_applicants_from_another_LA,school_urn
count,171385.000000,171385.000000,1.713850e+05,171336.000000,171385.000000,171385.000000,171385.000000,171385.000000,171385.000000,171385.000000,171385.000000,171385.000000,171385.000000,171042.000000,171114.000000,171385.000000,171348.000000,171165.000000
mean,201820.525151,698.445156,6.987504e+06,3.888955,62.234927,60.277393,53.903866,4.332800,1.390501,149.036357,62.311638,40.250454,28.252875,1.116708,1.000320,12.937381,3.403874,123946.648596
std,260.601295,262.619531,2.626195e+06,1.206047,63.392983,61.667809,54.452979,7.978451,3.504045,188.317124,69.779231,53.517119,39.676884,0.280986,0.349635,53.048311,12.694863,14448.297490
min,201415.000000,111.000000,1.114931e+06,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,100000.000000
25%,201617.000000,371.000000,3.712202e+06,3.000000,25.000000,24.000000,21.000000,0.000000,0.000000,47.000000,22.000000,11.000000,7.000000,1.000000,0.880000,0.000000,0.000000,111314.000000
50%,201819.000000,850.000000,8.503418e+06,3.000000,40.000000,38.000000,35.000000,2.000000,0.000000,87.000000,39.000000,23.000000,16.000000,1.000000,0.977778,1.000000,0.000000,121853.000000
75%,202021.000000,891.000000,8.912813e+06,5.000000,60.000000,60.000000,59.000000,4.000000,1.000000,165.000000,69.000000,46.000000,32.000000,1.142857,1.066667,5.000000,1.000000,138321.000000
max,202223.000000,999.000000,9.998000e+06,6.000000,559.000000,557.000000,505.000000,117.000000,98.000000,3171.000000,1321.000000,785.000000,597.000000,49.500000,79.000000,2224.000000,346.000000,149097.000000

In [255]:
df.tail()

,desk_no,school_name,administration,city,branch,Percentage,status,arabic,first_foreign_lang,second_foreign_lang,...,chemistry_2nd,biology_2nd,geology_2nd,applied_math_2nd,physics_2nd,total_2nd,religion_2nd,national_education_2nd,economics_statistics_2nd,_merge
683282,930793,ماهر سيد حمدان الثانوية المشتركة,ابنوب,اسيوط,علمي علوم,NaN,NaN,NaN,NaN,NaN,...,30.0,45.0,47.0,NaN,NaN,204.0,NaN,NaN,NaN,right_only
683283,931142,اولادالياس الثانويه المشتركة,صدفا,اسيوط,علمي علوم,NaN,NaN,NaN,NaN,NaN,...,30.0,30.0,34.0,NaN,30.0,227.0,NaN,NaN,NaN,right_only
683284,931800,الواسطى الثانوية المشتركة,الفتح,اسيوط,علمي علوم,NaN,NaN,NaN,NaN,NaN,...,35.0,40.0,51.0,NaN,30.0,292.0,NaN,NaN,NaN,right_only
683285,935052,منازل إدارة ابو تيج,ابو تيج,اسيوط,علمي علوم,NaN,NaN,NaN,NaN,NaN,...,30.0,33.5,30.0,NaN,30.0,225.0,NaN,NaN,NaN,right_only
683286,935607,منازل إدارة الغنايم,الغنايم,اسيوط,علمي علوم,NaN,NaN,NaN,NaN,NaN,...,41.0,NaN,53.0,NaN,54.5,306.5,NaN,NaN,NaN,right_only

In [272]:
df.head()

,School_Name,School_Address,Instruction Medium,Pre Primary Sectin Avilable,School Type,Classes,School Area,School Shifted to New Place,Head Teacher,Is School Residential,...,Establishment,Head Teachers,Total Teachers,Contract Teachers,Class Rooms,Boys Toilet,Girls Toilet,Books in Library,Computers,No_of_Nearby_Schools
0,GSSS BAJANA KHURD,rajasthan/karauli/hindaun/gups-longtipura,Hindi,No,Co-educational,From Class 1 to Class 12,Rural,No,KUMHER SINGH,No,...,1954,1,14,0,5,1,1,845,0,5
1,GPS MAHMEDPURIA KA PURA,rajasthan/karauli/hindaun/gups-longtipura,Hindi,No,Co-educational,From Class 1 to Class 5,Rural,No,NaN,No,...,1999,0,3,0,2,1,1,125,0,5
2,PRIYA DARSANI SEC. MAHUIBRAHIM,rajasthan/karauli/hindaun/gups-mahoo-ibrahimpur,Hindi,No,Co-educational,From Class 1 to Class 10,Rural,Yes,NaN,No,...,1989,0,3,0,8,2,2,261,0,9
3,GUPS MAHOO IBRAHIMPUR,rajasthan/karauli/hindaun/gups-mahoo-ibrahimpur,Hindi,No,Co-educational,From Class 1 to Class 8,Rural,No,NIRBHAY SINGH,No,...,1959,1,9,0,8,1,1,344,3,9
4,GSSS MAHOO IBHRIMPUR,rajasthan/karauli/hindaun/gups-mahoo-ibrahimpur,Hindi,No,Co-educational,From Class 1 to Class 12,Rural,No,PUSPLATA,No,...,1946,1,20,0,14,2,2,4956,10,9

In [7]:
df.columns

Index(['time_period', 'time_identifier', 'geographic_level', 'country_code',
       'country_name', 'region_code', 'region_name', 'old_la_code',
       'new_la_code', 'la_name', 'school_phase', 'school_laestab_as_used',
       'number_preferences_la', 'school_name', 'total_number_places_offered',
       'number_preferred_offers', 'number_1st_preference_offers',
       'number_2nd_preference_offers', 'number_3rd_preference_offers',
       'times_put_as_any_preferred_school', 'times_put_as_1st_preference',
       'times_put_as_2nd_preference', 'times_put_as_3rd_preference',
       'proportion_1stprefs_v_1stprefoffers',
       'proportion_1stprefs_v_totaloffers', 'all_applications_from_another_LA',
       'offers_to_applicants_from_another_LA', 'establishment_type',
       'denomination', 'FSM_eligible_percent', 'admissions_policy',
       'urban_rural', 'allthrough_school', 'school_urn', 'entry_year'],
      dtype='object')

In [265]:
df.drop('school_name', axis=1, inplace=True)
df.drop('administration', axis=1, inplace=True)
df.drop('city', axis=1, inplace=True)
df.drop('branch', axis=1, inplace=True)
df.drop('status', axis=1, inplace=True)
df.drop('_merge', axis=1, inplace=True)
df.drop('second_foreign_lang', axis=1, inplace=True)

In [271]:
numeric_columns = df.select_dtypes(include=np.number)
corr = df.corr()
corr.style.background_gradient()

ValueError: could not convert string to float: 'GSSS BAJANA KHURD'

In [ ]:
# Inicializar el modelo
k_neighbors = neighbors.KNeighborsClassifier()

In [ ]:
# Preparar la data para entrenar el modelo
data_x = df.drop(['id', 'num_subscribers', 'avg_rating', 'num_reviews', 'num_comments','num_lectures','content_length_min'], axis=1)
data_y = df.num_reviews

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [ ]:
# Entrenar el modelo
k_neighbors.fit(train_x, train_y)

KNeighborsClassifier()

In [ ]:
# Medir la confianza de nuestro modelo
print(f'Score: {round(k_neighbors.score(test_x, test_y), 4) * 100}%')

Score: 5.57%